
body {
    margin: 0;
}

header {
    padding: 2%;
    background-color: #FFEDDF;
    display: flex;
    justify-content: space-between;
}

.fa-solid {
    padding-left: 15%;
    font-size: 250%;
    color: #0A3200;   
    display: flex;
    align-items: flex-end;
}

div { 
    background-image: url(img/fin.jpg);
    background-size: cover;
    background-position: center;
    padding: 20%;
}

h1 {
    padding: 4%;
}


p {
    padding-top: 2%;
}



section {
background-color: white;
color: #0A3200;
text-align: center;
padding: 5%;
}

aside {
background-color: #FFEDDF;
text-align: center;
padding: 5%;
}

footer {
    
    font-size: 250%;
    padding: 5%;
    padding-left:  30%;
    padding-right: 30%;
    background-color: #0A3200;
    display: flex;
    justify-content: space-around;
}

.fa-brands {
    color: white;
    font-size: 100%;
}



