
body {
    margin: 0;
}

header {
    padding: 3%;
    background-color: #FFEDDF;
    display: flex;
    justify-content: space-between;
    
}

div { 
    background-image: url(img/fin.jpg);
    background-size: cover;
    background-position: center;
    padding: 20%;
}



p {
    padding: 15%;
    text-align: center;
}


section {
background-color: white;
color: #0A3200;
}

aside {
background-color: #FFEDDF;
}

footer {
    
    font-size: 250%;
    padding: 5%;
    padding-left:  30%;
    padding-right: 30%;
    background-color: #0A3200;
    color: white;
    display: flex;
    justify-content: space-around;
}

.fa-solid {
    font-size: 300%;
    color: white;   
}

.fa-brands {
    color: white;   
}


